<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/navbar'); %>
    <h1 class="title">
      <%=title %>
    </h1>
    <div class="container">
      
      <% products.forEach((item)=>{ %>
        <a href="/products/<%=item.id%>">
        <div class="container-product">
            <p > Id: <%=item.id%>
            </p>
            <p> Titulo: <%=item.title%>
            </p>
            <p> Price: $ <%=item.price%>
            </p>
            <img class="product-img" src="<%=item.thumbnail %>" />
        </div>
      </a>
        <% }) %>
     
    </div>

    <%- include('../partials/footer'); %>
</body>

</html>